# frozen_string_literal: true

# Add users to LeapSalesforce context. First user is the default
module LeapSalesforce
  Users.add User.new <%= ":#{@user_key}" %>, '<%= LeapSalesforce.api_user %>'
end

<%=
if LeapSalesforce.sfdx
  "ENV['SF_USERNAME'] = '#{ENV['SF_USERNAME']}'"
end
%>
