environment: <%= LeapSalesforce.environment %>
# lib_folder: lib/leap_salesforce # Default folder where assets will be stored
sfdx: <%= LeapSalesforce.sfdx %>
soql_objects:
  - Case
  - Contact
  - Document: ContentDocument
  - User:
    create_enum: false # Example of indicating that enumerations are not required to be generated for
  - Account
  - Group