# Basic factory settings made according to values defined at
# https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_objects_case.htm
FactoryBot.define do
  <%= "factory :#{@soql_object.reference} do" %>
    <% @default_fields.each do |field| %>
    <%= LeapSalesforce::Default::Factory.value_for(field, @soql_object.class_name) %> <% end %>
    trait :all do
      <% @other_fields.each do |field| %>
      <%= LeapSalesforce::Default::Factory.value_for(field, @soql_object.class_name) %> <% end %>
    end
  <%= 'end' %>
end
