<%= LeapSalesforce.soql_enum_start_text %>.<%= @entity_name %>; 

/** This file is generated and updated automatically so best not to edit manually
 * Helps handle picklist values for <%= "#{@entity_name}, #{@enum_name}" %>
*/ 
public enum <%= @enum_name %> {
<% @enum_values.each_with_index do |value, index|  %>
  <%= value[0].camelize(:upper).to_s %>("<%= value[1] %>")<%= index == @enum_values.length - 1 ? ';' : ',' %><% end%> 
 
  private String displayName;

  public String displayName() { return displayName; }

  @Override public String toString() { return displayName; }

  <%= @enum_name %>(String displayName) {
    this.displayName = displayName;
  }

  public static <%= @enum_name %> getRandom() {
    return values()[(int) (Math.random() * values().length)];
  }
}
