# frozen_string_literal: true

# This file is generated and updated automatically so best not to edit manually
# Helps handle picklist values for <%= "#{@entity_name}, #{@enum_name}" %>
class <%= @entity_name %> < SoqlData
  # Enumeration for <%= @enum_name %>
  module <%= @enum_name %>
    include SoqlEnum
    extend LeapSalesforce::CommonEnumMethods
  <% @enum_values.each do |name, value| %>
    @<%= name.to_s %> = "<%= value %>"
  <% end %>
    class << self
      # @return [String] Name of picklist as returned from Metadata
      def name
        '<%= @picklist %>'
      end

      attr_reader <%= @enum_values.keys.collect(&:to_sym).to_s.tr('[]','') %>
    end
  end
end
