# frozen_string_literal: true

# This file is generated and updated automatically so best not to edit manually
# Fields for <%= @soql_object.class_name %> mapped from SOQL <%= @soql_object.backend_name %>
class <%= @soql_object.class_name %> < SoqlData
  # List of accessors for retrieving and setting fields in <%= @soql_object.class_name %>
  module Fields
    extend SoqlGlobalObjectData
    <% @soql_class.fields.each do |field| %>
    # Element for '<%= field['label'] %>', type '<%= field['type'] %>'
    soql_element :<%= field['label'].unused_ruby_name %>, '<%= field['name'] %>'
    <% end %>
  end
end