require_relative '<%= @field_name_file %>'
# An <%= @soql_object.class_name %> object mapping to a SOQL <%= @soql_object.backend_name %>
class <%= @soql_object.class_name %> < SoqlData
  include <%= @soql_object.class_name %>::Fields
  <%= "soql_object '#{@soql_object.backend_name}'" unless @soql_object.backend_name == @soql_object.class_name %>
end
